.cart-container {
  padding: 2rem;
}.cart-container h2{
    color: #b46c93;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 500;
}

.cart-container h3{
    color: #b46c93;
    font-size: 1.1rem;
    margin-bottom: 10px;
    
}
.cart-item {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.cart-item img {
  width: 150px;
  border-radius: 8px;
}

.cart-item h3 {
  margin: 0;
}

.cart-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 0.5rem;
}

.remove-btn {
  margin-top: 0.5rem;
  padding: 10px 40px;
  color: #b46c93;
  background: rgb(219, 215, 215);
  border: none;
  cursor: pointer;
}

.remove-btn:hover {
  color: #f6ebf0;  
  background-color: #b46c93;  
  
  box-shadow: none;
  transform: none;

}

.cart-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}



.checkout-btn {
  background-color: green;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.checkout-btn:hover {
  
  
  box-shadow: none;
  transform: none;

}

.go-back-btn {
  padding: 8px 16px;
  cursor: pointer;
  color: #b46c93;
  background: rgb(219, 215, 215);
  border: none;
  cursor: pointer;
    
}

.go-back-btn:hover {
  color: #f6ebf0;  
  background-color: #b46c93;  
  
  box-shadow: none;
  transform: none;

}
.cart-actions button {
  background: none;
  border: 1px solid #ccc;
  padding: 1px 25px;
  
  cursor: pointer;
  box-shadow: none;
  transition: none;
  outline: none;
  background-color: #b46c93;
  font-weight: 400;
  color: #f6ebf0;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.cart-actions button:hover {
  color: #b46c93;  
  background-color: #f6ebf0;  
  background: none;
  box-shadow: none;
  transform: none;
}
